<div class="well hoverwell thumbnail">
    <!--<div class="homeIntro">
        <h1 class="homeIntroHeading">SmartLabs</h1>
        <p class="homeIntroContent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt ultricies blandit. Donec posuere, ipsum
            quis vehicula imperdiet, ipsum nibh semper nunc, id fringilla risus ligula sed arcu. Nam eu gravida ligula, ac
            vulputate nisi. Aliquam tempor bibendum magna eu aliquam. Ut tempus ultricies erat ac porttitor. Nulla sit amet
            erat molestie, suscipit elit nec, dapibus ante. Nulla pretium tortor id mi elementum, quis scelerisque quam pulvinar.
            Duis at nibh varius, dictum magna luctus, vestibulum tellus. Donec et tincidunt libero.</p>
    </div>
    <div>
        <div class="col-sm-3">
            <a routerLink="/home/processmonitor">
                <md-card id="processCard" class="navCardLeft">
                    <i class="material-icons large">device_hub</i>
                    <h4>{{ 'processMonitorComponent.processMonitor' | translate:lang }}</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><br/>
                    <i class="material-icons plus">control_point</i>
                </md-card>
            </a>
        </div>
        <div class="col-sm-3">
            <a routerLink="/home/resourcestracker">
                <md-card id="resourceCard" class="navCards">
                    <i class="material-icons large">important_devices</i>
                    <h4>{{ 'resourcesTrackerComponent.resourcesTracker' | translate:lang }}</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><br/>
                    <i class="material-icons plus">control_point</i>
                </md-card>
            </a>
        </div>
        <div class="col-sm-3">
            <a routerLink="/home/content360">
                <md-card id="contentCard" class="navCards">
                    <i class="material-icons large">format_align_left</i>
                    <h4>{{ 'content360Component.content360' | translate:lang }}</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><br/>
                    <i class="material-icons plus">control_point</i>
                </md-card>
            </a>
        </div>
        <div class="col-sm-3">
            <a routerLink="/home/patternview">
                <md-card id="patternCard" class="navCardRight">
                    <i class="material-icons large">timeline</i>
                    <h4>{{ 'patternViewComponent.patternView' | translate:lang }}</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p><br/>
                    <i class="material-icons plus">control_point</i>
                </md-card>
            </a>
        </div>
    </div>-->
    <div>
        <h3>{{ 'homeComponent.home' | translate:lang }}</h3>
    </div>
</div>