.alert-danger {
    color: red;
    font-size: smaller;
}

#loginCard {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}

md-input-container {
    width: 100%;
}

button#btnLogin {
    margin-left: 80%;
    margin-top: 5%;
}

